@using Capstone.Web.Models;
@model Dictionary<Park, int>


@{
    ViewBag.Title = "Our Visitors' Favorite Parks";
}

<h2>FavoriteParks</h2>

@if (TempData["StatusMessage"] != null)
{
    string message = TempData["StatusMessage"] as string;

    <div class="alert alert-success alert-dismissable fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>@message</strong>
    </div>

}

@{List<int> votes = new List<int>();

    votes = Model.Values.ToList();
    votes.Sort();
    votes.Reverse();

    Dictionary<Park, int> sortedParks = new Dictionary<Park, int>();
 }

@while(Model.Count > 0)
{
    Park park = Model.FirstOrDefault(v => v.Value == votes.First()).Key;

    sortedParks.Add(park, votes.First());

    Model.Remove(park);
    votes.Remove(votes.First());
}

@foreach (KeyValuePair<Park, int> kvp in sortedParks)
{
    <div class="container-fluid">

        <a href="@Url.Action("Detail", "Home", new { parkCode = kvp.Key.ParkCode})">
            <img id="parkimage" src="@Url.Content("~/Content/Images/parks/" + kvp.Key.ParkCode.ToLower() + ".jpg")" alt="@kvp.Key.ParkName" />
        </a>
        <h3 id="name">@kvp.Key.ParkName</h3>
        <p id="description">@kvp.Key.ParkDescription</p>
        <p id="votes">Number of Votes: @kvp.Value</p>

    </div>

}





