@using Capstone.Web.Models;
@model List<Park>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @foreach (Park p in Model)
    {

        <div>

            <a href="@Url.Action("Detail", "Home", new { id = p.ParkCode})">
                <img src="@Url.Content("~/Content/Images/parks/" + p.ParkCode.ToLower() + ".jpg")" alt="@p.ParkCode" />
            </a>
            <p>@p.ParkName</p>
            <p>@p.ParkDescription</p>

        </div>

    }
    <div>
    </div>
</body>
</html>
