@using Capstone.Web.Models;
@model Survey


@{
    ViewBag.Title = "Survey";
}

<h2>Survey</h2>

@using (Html.BeginForm("Survey", "Home", FormMethod.Post))
{
    <div class="form-group">
       <p>Please vote for your favorite park:</p>
        @Html.DropDownListFor(m => m.ParkCode, new SelectList(Model.Parks, "Value", "Text"), new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m=>m.EmailAddress)
        @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control", placeholder = "eliza@eliza.com" })
    </div>

    <div class="form-group">
        <p>Please choose your activity level:</p>
        @Html.DropDownListFor(m => m.ActivityLevel, Model.AcceptableActivityLevels, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <p>Please choose your state of residence:</p>
        @Html.DropDownListFor(m => m.State, Model.States, new { @class = "form-control" })
    </div>

    <button>Submit</button>
}